<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @job.start_date %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @job.finish_date %>
</p>

<p>
  <strong>Role:</strong>
  <%= @job.role_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @job.department_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @job.user_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
