<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, { class: "form-control", placeholder: "Nombre", required: true } %>
  </div>

  <div class="field">
    <%= f.label :identification %>
    <%= f.number_field :identification, { class: "form-control", placeholder: "Identificación", required: true } %>
  </div>

    <div class="field">
      <%= f.label :identification_type %>
      <%= f.select :identification_type, User.identification_types, {}, { class: "form-control" } %>
    </div>

  <div class="field">
    <%= f.label :student_code %>
    <%= f.number_field :student_code, { class: "form-control", placeholder: "Código de estudiante", required: true } %>
  </div>

    <div class="field">
      <%= f.label :email %>
      <div class="input-group">
        <%= f.text_field :email, { class: "form-control", placeholder: "Usuario Uniandes", required: true } %>
        <span class="input-group-addon">@uniandes.edu.co</span>
      </div>
    </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.number_field :phone, { class: "form-control", placeholder: "Teléfono celular", required: true } %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <div class="field">
    <%= f.label :semester %>
    <%= f.number_field :semester, { class: "form-control", placeholder: "Semestre", required: true } %>
  </div>

  <div class="field">
    <%= f.label :careers %>
    <%= f.select :careers, User.careers_list, { include_hidden: false }, { class: "form-control", multiple: true, required: true } %>
  </div>

  <div class="field">
    <%= f.label :volunteering_agreement %>
    <%= f.file_field :volunteering_agreement %>
  </div>

  <div class="actions">
    <%= f.submit 'Create', { class: "btn btn-default" } %>
  </div>
<% end %>